<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ThiVacXin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerIndex</display-name>
    <servlet-name>ControllerIndex</servlet-name>
    <servlet-class>controller.ControllerIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndex</servlet-name>
    <url-pattern>/ControllerIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerIndexVacxin</display-name>
    <servlet-name>ControllerIndexVacxin</servlet-name>
    <servlet-class>controller.ControllerIndexVacxin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndexVacxin</servlet-name>
    <url-pattern>/ControllerIndexVacxin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSearchKH</display-name>
    <servlet-name>ControllerSearchKH</servlet-name>
    <servlet-class>controller.ControllerSearchKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSearchKH</servlet-name>
    <url-pattern>/ControllerSearchKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSearchTTKH</display-name>
    <servlet-name>ControllerSearchTTKH</servlet-name>
    <servlet-class>controller.ControllerSearchTTKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSearchTTKH</servlet-name>
    <url-pattern>/ControllerSearchTTKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerMoneyVacXin</display-name>
    <servlet-name>ControllerMoneyVacXin</servlet-name>
    <servlet-class>controller.ControllerMoneyVacXin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerMoneyVacXin</servlet-name>
    <url-pattern>/ControllerMoneyVacXin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerDelVacXin</display-name>
    <servlet-name>ControllerDelVacXin</servlet-name>
    <servlet-class>controller.ControllerDelVacXin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDelVacXin</servlet-name>
    <url-pattern>/ControllerDelVacXin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerEditVacXin</display-name>
    <servlet-name>ControllerEditVacXin</servlet-name>
    <servlet-class>controller.ControllerEditVacXin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerEditVacXin</servlet-name>
    <url-pattern>/ControllerEditVacXin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerAddVacXin</display-name>
    <servlet-name>ControllerAddVacXin</servlet-name>
    <servlet-class>controller.ControllerAddVacXin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAddVacXin</servlet-name>
    <url-pattern>/ControllerAddVacXin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerAdVacXin</display-name>
    <servlet-name>ControllerAdVacXin</servlet-name>
    <servlet-class>controller.ControllerAdVacXin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdVacXin</servlet-name>
    <url-pattern>/ControllerAdVacXin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerIndexKH</display-name>
    <servlet-name>ControllerIndexKH</servlet-name>
    <servlet-class>controller.ControllerIndexKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndexKH</servlet-name>
    <url-pattern>/ControllerIndexKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerLichSuTiemPhong</display-name>
    <servlet-name>ControllerLichSuTiemPhong</servlet-name>
    <servlet-class>controller.ControllerLichSuTiemPhong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLichSuTiemPhong</servlet-name>
    <url-pattern>/ControllerLichSuTiemPhong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerIndexChiPhi</display-name>
    <servlet-name>ControllerIndexChiPhi</servlet-name>
    <servlet-class>controller.ControllerIndexChiPhi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndexChiPhi</servlet-name>
    <url-pattern>/ControllerIndexChiPhi</url-pattern>
  </servlet-mapping>
</web-app>